:root {
    --main-header-height: 94px;
}

body {
    font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif, Verdana, "Droid Sans";
}

.text-line {
    display: block;
}

/*
css&html map

header.main-header
    div.header-container
        div.header-container__logo
        nav.header-container__menu
            ul.menu
                li.menu__item
                li.menu__item
                    a.item__link
                        span.link__sub-title
                        span.link__convert

        div.header-container__actions
            button.actions__button
                span.
            button.actions__button
div.main-kv
    div.main-kv__carousel
        img.carousel__pic
    div.main-kv__content
        h2.content__title
        p.content__slogan
main
    section.main-section section-cases
    section.main-section section-cases
    section.main-section section-cases
    section.main-section section-cases
    section.main-section section-cases


*/


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.main-header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    height: var(--main-header-height);
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-container {
    display: flex;
    height: 100%;
}

.header-container__logo {
    display: flex;
    align-items: center;
    width: 280px;
    flex-shrink: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 clamp(16px, 1.77vw, 34px) 0 clamp(10px, 1.04vw, 20px);
}

.header-container__menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-container__actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.actions__button-link {
    width: 171px;
    height: 100%;
    overflow: hidden;
    padding: 0 clamp(4px, 1.0416666667vw, 26px);
}

.button-link {
    display: flex;
}

.arrow {
    position: relative;
    width: 54px;
    height: 10px;
    border-bottom: #007bff 1px solid;
}

.arrow:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    bottom: -1px;
    border-style: solid;
    border-width: 4px 0 0 12px;
    border-color: transparent transparent transparent #007bff;

}


.main-kv {
    position: relative;
    color: #FFFFFF;
    margin-top: calc(-1 * (var(--main-header-height) + 1px))
}

.main-kv__carousel {

}

.main-kv__carousel .carousel__item {

}

.main-kv__carousel .carousel__img {
    width: 100%;
    height: 100vh;
    min-height: 900px;
    object-fit: cover;
}

.main-kv__content {
    position: absolute;
    display: flex;
    bottom: 21vh;
    flex-direction: column;
}

.main-kv__content .content__title {
    font-weight: 600;
    font-size: 56px;
}

.main-kv__content .content__slogan {
    order: -1;
    font-size: 15px;
}

.main-section {

}


/*nav-menu*/
.header-container__menu .menu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.menu__item {
    cursor: pointer;
    height: 100%;
    display: flex;
}

.item__link {
    margin: auto;
}

.link__sub-title {
    transition: ease .3s;
    display: block;
    font-size: 12px;
}

.item__link b {
    display: block;
    overflow: hidden;
}

.link__convert {
    display: block;
    transition: ease .3s;
    position: relative;
    font-weight: 600;
}

.link__convert:after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    display: block;
}

.menu__item:hover .link__convert {
    transform: translateY(-100%);
}

.menu__item:hover .link__sub-title {
    color: crimson;
}


/*content*/
.content .content__title span {
    display: block;
}

.content .content__text {
}

/*section*/

/*section common*/
.main-section .scatter-text {
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: 0.08em;
    color: #fff;
}

.main-section {
    position: relative;
}

.main-section .container {
    display: flex;
}

.main-section .section-title {
    letter-spacing: 0.12em;
    line-height: 1.5;
    color: #cf1126;
}

.section-title::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 1px;
    margin-left: 40px;
    background: rgba(255, 255, 255, 0.2);
}

/*cases*/
.section-cases {
    background: #201952;
}

.section-cases .cases-container {
    padding: 0 16px;
    color: #FFF;
}

.section-cases .cases-container__content {
    top: 0;
    position: sticky;
    height: 100vh;
    width: 35%;
}

/*todo*/
.section-cases .section-title {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*todo*/
.cases-container__content .scatter-text {
    font-size: 118px;
    margin-bottom: 45px;
}

.cases-container__content .content__text {
    letter-spacing: 0.08em;
    font-weight: normal;
    line-height: 1.8;
    color: #fff;
}

.cases-container__content .content__text.describe {
    font-size: 14px;
    margin-bottom: 18px;
}

.cases-container__content .content__text.highlight {
    font-size: 25px;
}

.section-cases .cases-container__list {
    position: relative;
    padding-top: 90vh;
    border-left: .5px solid rgba(255, 255, 255, 0.2);
    border-right: .5px solid rgba(255, 255, 255, 0.2);
}

.section-cases .cases-container__list:before {
    content: "";
    width: 1px;
    position: absolute;
    border-right: .5px solid rgba(255, 255, 255, 0.2);
    height: 100%;
    left: 50%;
    top: 0;
}

.cases-container__list .list {
    position: relative;
}

.cases-container__list .list__item {
    width: 50%;
    aspect-ratio: 430/242;
}

.cases-container__list .list__item:nth-child(odd) {
    transform: translateX(100%);
}

.cases-container__list .list__item img {
    width: 100%;
    object-fit: cover;
    padding-bottom: calc(100% / 2);
}

/*section-jobs*/
.section-jobs {
    padding: 120px 0;
}

.section-jobs .section-title {
    padding: 120px 0 80px 0;
}

.jobs-container .jobs-container__content {
    padding: 0 clamp(16px, 5.2083333333vw, 100px);;
}

.jobs-container__content .scatter-text {
    font-size: clamp(60px, 5.2083333333vw, 100px);
    color: #201952;
}

.jobs-container .intro-list {
    display: flex;
}

.intro-list .list__box {
    position: relative;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    overflow: hidden;
}

.intro-list .list__box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background-color: #201952;
    opacity: 1;
    transform: translateX(-100%);
    clip-path: polygon(0% 0%, 100% 0%, 66.66666% 100%, 0% 100%);
    transition: transform .4s;
}

.intro-list .list__box:hover::before {
    transform: translateX(0%);
}

.intro-list .list__box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.intro-list .list__box .box__content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intro-list .box__content .content__title {
    position: absolute;
    writing-mode: vertical-lr;
    top: clamp(8px, 2.3958333333vw, 46px);
    left: clamp(8px, 1.6666666667vw, 32px);
}

.intro-list .box__content .content__title span {
    font-weight: 600;
    display: block;
    font-size: 2rem;
    margin-top: -0.6rem;
}

.intro-list .box__content .content__title small {
    font-weight: 400;
    font-size: 16px;
}

/*section-staff*/
.section-staff{

}

.section-staff .scatter-text {
    font-size: clamp(60px, 5.2083333333vw, 100px);
}

.section-staff .staff-container {
    background-color: #201952;
}
